<div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 374px;" id="softphoneOnCall" *ngIf="viewMode=='oncall'">

<div style="height: 100px; font-size: 14px; color: #a0a0a0; font-weight: bold; display: flex; justify-content: center; align-items: center;">
    <div>Call Active</div>
</div>

<div style="padding-top: 40px; text-align: center;">
    <div style="font-weight: bold;">Customer Name</div>
    <div style="padding-top: 6px; font-size: 12px; color: #a0a0a0;">00:00</div>
</div>

<div style="padding-top: 15px; display: flex; align-items: center;">
    <div style="text-align: center;">
        <div (click)="viewQuickConnects();" style="height: 40px; width: 50px; background-color: #e4e4e4; display: flex; justify-content: center; align-items: center; border-right: 1px solid white; border-bottom: 1px solid gray; border-radius: 2px; cursor: pointer;">
            <img src="assets/softphone_icons/ic_transfer_inactive_24px.svg" />
        </div>
        <div style="font-size: 12px; color: #a0a0a0; padding-top: 4px;">
            Transfer
        </div>
    </div>
    <div style="text-align: center;">
        <div id="holdButton" (click)="holdCall();" style="height: 40px; width: 50px; background-color: #e4e4e4; display: flex; justify-content: center; align-items: center; border-right: 1px solid white; border-bottom: 1px solid gray; border-radius: 2px; cursor: pointer;">
            <img id="holdIcon" src="assets/softphone_icons/ic_phone_hold_inactive_24px.svg" />
        </div>
        <div style="font-size: 12px; color: #a0a0a0; padding-top: 4px;">
            <span id="holdLabel">Hold</span>
        </div>
    </div>
    <div style="text-align: center;">
        <div style="height: 40px; width: 50px; background-color: #e4e4e4; display: flex; justify-content: center; align-items: center; border-right: 1px solid white; border-bottom: 1px solid gray; border-radius: 2px; cursor: pointer;">
            <img src="assets/softphone_icons/ic_mic_off_inactive_24px.svg" />
        </div>
        <div style="font-size: 12px; color: #a0a0a0; padding-top: 4px;">
            Mute
        </div>
    </div>
    <div style="text-align: center;">
        <div style="height: 40px; width: 50px; background-color: #e4e4e4; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid gray; border-radius: 2px; cursor: pointer;">
            <img src="assets/softphone_icons/ic_phone_secure_inactive_24px.svg" />
        </div>
        <div style="font-size: 12px; color: #a0a0a0; padding-top: 4px;">
            Pause
        </div>
    </div>
</div>


<div style="margin: 17px 0; text-align: center; width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div (click)="cancelCall();" style="font-size: 14px; display: flex; justify-content: center; align-items: center; width: 200px; height: 30px; background-color: #fe4e03; color: white; border-radius: 2px; cursor: pointer;">
        End Call
    </div>
</div>

</div>