<div id="mainTopBar" style="height: 50px; width: 100%; display: flex; justify-content: space-between; align-items: center;">

    <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 50px;">
        <img src="assets/agent_status_bar_icons/ic_add tab_28px.svg" style="cursor: pointer; margin: 0 5px;" />
        <div style="margin: 0 5px;">
            Add New
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <app-softphone></app-softphone>
    </div>

    <img src="assets/agent_status_bar_icons/ic_agent account_28px.svg" style="cursor: pointer; margin: 0 5px;" />

    <div>Me</div>

    <img src="assets/micro_navigation_icons/ic_dropdown_24px.svg" style="cursor: pointer; margin-right: 0 5px;" />

</div>
